@{
    ViewData["Title"] = "Bienvenida";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sitio de Registro Aduanero de Barcos</h1>
    <p>Registra tu barco <a asp-area="" asp-controller="Barcos" asp-action="Registrar">aquí</a></p>
</div>
